1. Icon next to app name + faviocn: <a href="https://www.flaticon.com/free-icons/brain" title="brain icons">Brain icons created by Prosymbols Premium - Flaticon</a>

2. Background on login & register pages: <a href="https://www.freepik.com/free-vector/3d-abstract-background-pink-gradient-liquid-shapes-vector_20347378.htm#page=3&query=abstract%20background&position=41&from_view=search&track=ais">Image by rawpixel.com</a> on Freepik